server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/hrms?characterEncoding=UTF-8
    username: root
    password: 123qwe
    driver-class-name: com.mysql.jdbc.Driver

shiro:
  user:
    # 登录地址
    loginUrl: /login